<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>Guias Analisis </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2> PAGINA DE INICIO</h2>
        <p th:text="${mensaje}" ></p>
        <p th:text="${dato}"></p>
        <hr>
        <b>Cedula:</b><span th:text="${alguien.Cedula}"></span><br>
        <b>Clave:</b><span th:text="${alguien.Clave}"></span><br>
        <b>Nombre:</b><span th:text="${alguien.Nombre}"></span><br>
        <b>Email:</b><span th:text="${alguien.Email}"></span><br>
    </body>
</html>
